@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



html,body {
  height: 100%;
    width: 100%;
}

body {

  color:rgb(57, 192, 233);
  background-color: rgb(37, 37, 37);
  padding:10px;
  text-align: center;

  //background-image: linear-gradient(to right top, #050c1f, #0c1323, #101827, #151c2b, #1a212f, #1a2231, #1b2234, #1b2336, #171f37, #151b37, #141738, #141237);
  background-color: rgb(13, 19, 29);
 
 
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


a {
  text-decoration: none;
}

a:visited {
  color:unset
}